.header{
  height: 500px;
  width: 600px;
  background-image: url(../cat.webp);
  font-size: 50px;
  border: 20px solid skyblue;
  border-radius: 25px;
  box-shadow: 20px 30px 40px blueviolet;
  margin: 50px;
}
.go{
  font-size: 50px;
  border: 20px solid plum;
  border-radius: 25px;
  box-shadow: 15px 25px 35px black;
  height: 1800px;
  width: 700px;
  background-image: url(../girl.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: skyblue;
  /* margin-bottom: 20px; */
margin: 50px;
}